* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

.layout {
    padding-left: 10%;
    padding-right: 10%;
}

#logo {
    width: 220px;
    margin-top: 40px;
    margin-left: 5px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.color1 {
    color: rgb(156, 156, 156);
}

.color2 {
    color: #4EA0FF;
}

.color3 {
    color: white;
}

.special1 {
    margin-top: 0px;
}

.size1 {
    font-size: 12px;
}

.highlighter {
    background-color: yellow;
}

ul {
    padding-left: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.tablesize {
    width: 25%;
}

thead {
    background-color: #4EA0FF;
}

.even {
    background-color: #B1E5F2;
}

.odd {
    /* colore tabella righe dispari */
}

#foto1 {
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-bottom: 15px;
    background-image: url(../img/monitor.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#foto2 {
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-bottom: 15px;
    background-image: url(../img/graph.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    margin-top: 0;
}